@charset "utf-8";

*{margin: 0; padding: 0;}

div{
    width: 800px;
    padding: 10px;
    border: 3px solid #000;
    margin: 10px auto;

}
div h3{
    background-color: teal;
    color:white;
    padding: 5px;
}

/* 텍스트 수평 방향 정렬 */
.align p:first-of-type{
    text-align:left;
}
.align p:nth-of-type(2){
    text-align: center;
}
.align p:nth-of-type(3){
    text-align: right;
}
.align p:nth-of-type(4){
    text-align: justify
    /* 양쪽 정렬 */
    /* 한쪽에만 쏠려있던걸 양쪽으로 글자간격 자동으로 늘려서 깔끔하게 맞춰줌 */
}
.align p:nth-of-type(5){
    writing-mode:vertical-lr;
    /* 세로수직쓰기 like 일본어책 */
}

/* 글자 스타일 */
.style p:nth-of-type(1){
    font-style: normal; /* 기본값 */
}
.style p:nth-of-type(2){
    font-style: italic;
}

.decoration p:nth-of-type(1){
    text-decoration: none;
}
.decoration p:nth-of-type(2){
    text-decoration: underline;/* 밑줄 */
}

.decoration p:nth-of-type(3){
    text-decoration: overline;/* 윗줄 */
}
.decoration p:nth-of-type(4){
    text-decoration: line-through;/* 취소선 */
}

/* 글자 그림자 */
.shadow p {
    text-shadow: 3px 3px 2px rebeccapurple;
            /* 가로 세로 퍼짐정도 색상*/
            /* x축   y축  흐림   색상 */
}

/* 텍스트 대/소문자 변화 */
.transform p:nth-of-type(1){
    text-transform: none;/* 기본값 제공 */
}

.transform p:nth-of-type(2){
    text-transform: capitalize;/* 문장 단어마다 첫글자를 대문자로 설정 */
}
.transform p:nth-of-type(3){
    text-transform: uppercase;/* 올 대문자 */
}
.transform p:nth-of-type(4){
    text-transform: lowercase;/* 올 소문자 */
}

/* 텍스트 줄바꿈 */
.break p:nth-of-type(1){
    word-break:normal;/* 기본값 */

}
.break p:nth-of-type(2){
    word-break: break-all; /* 글자 기준으로 줄바꿈 */
}
.break p:nth-of-type(3){
    word-break: keep-all; /* 단어 기준으로 줄바꿈 */
}

/* 문자/단어 사이 간격 */
.spacing p:nth-of-type(1){
    letter-spacing: 5px;/* 문자 간격 조절 음수, 양수 */
}
.spacing p:nth-of-type(2){
    letter-spacing: 50px;/* 단어 사이 간격 조절 음수, 양수*/
}

/* 텍스트 줄 간격 */
.height p {
    /* line-height: 34px; *//* 각 문단 위아래 간격*/
    line-height: 2; /* 픽셀안넣으면 기본값(16px)의 배수 */
    /* 16px*2=32px */
    /* 1.5~2 배가 가독성 좋은 줄간격 벗, 이것보다 라인하이트 값 설정하는게 나음 */
}

/* 들여쓰기 */
.indent p {
    text-indent:40px;
    /* 
    양수 : 들여쓰기
    음수 : 내어쓰기
     */
}