@charset "utf-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;
display: block;
color: #333;}

header div{
    width: 1200px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin: 0 auto;
}
header div::after{
    content: '';
    display: block;
    clear: both;
}
header div h1{
    float: left;
}
header div ul li{
    display: inline-block;
    width: 150px;
}
header div .fas{
    width: 10px;
    display: inline-block;
    float: right;
    transform: translateY(-250%);
}

.main_visual{
    width: 100%;
    height: 500px;
    background-color: darkgreen;
}
.main_visual article{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}
.main_visual article h2{
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff;
}
.main_visual article p{
    color: #fff;
    font-size: 22px;
    margin-bottom: 40px;
}
.main_visual button{
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.main_visual button a{
    color: darkgreen;
    font-size: 16px;
}

.cont01{
    
}
.cont01 article{
    background-image: url(../img/Home\ alone.jpg) cover cover no-repeat;
}
