@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a{  text-decoration: none;
    display: block;
    color: #333;
}

header{
    width: 1200px;
    margin: 0 auto;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

header::after{
    content: '';
    display: block;
    clear: both;
}
header nav{
    display: inline-block; /* 안하면 맨오른쪽 아이콘 떨어짐
    그래서 다 인라인블럭을 줘서 한줄로 맞추기*/
}
header h1{
    float: left;
}
header nav ul li{
    display: inline-block;
    width: 150px;
}
header p{
    float: right;
}

header p span{
    position: absolute;
    left: -9999999px;
    /* 리더기에 읽히나 눈에 안보이게 하는법 
    1.position: absolute;
        left: -9999999px;
    2.fotn-size:0;
    
    display:none;은 아예 안읽히고 사라짐*/
}

.main_visual{
    height: 500px;
    background-color: darkgreen;
    text-align: center;
    color: #fff;
    position: relative;
}
.main_visual div{
    width: 100%;
    position: absolute;/* 의 영향으로 좌측으로 쏠려지는데 width값 100% 주면 가운데로 옮겨짐 */
    top: 50%;
    transform: translateY(-50%);
}

.main_visualp h2{
    font-size: 40px;
}
.main_visual p{
    font-size: 22px;
}
.main_visual button{
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    margin-top: 40px;   
}


/* cont01 */
.cont01 {
    width: 1200px;/* 
    background-color: sandybrown; */
    text-align: center;
    margin: 0 auto; 
}
.cont01::after{
    content: '';
    display: block;
    clear: both;
}
.cont01 h3{
    font-size: 35px;
    margin-bottom: 40px;
}
.cont01 article{
    float: left;
    margin-right: 30px;
    position: relative;
}
.cont01 article:last-of-type{
    margin-right: 0;
}
.cont01 article p{
    position: absolute;
    width: 250px;
    height: 45px;
    line-height: 45px;
    background-color: sandybrown;
    color: #fff;
    border-radius: 5px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s linear;
}
.cont01 article img{
    width: 380px;
    display: block;
    overflow: hidden;
}

.cont01 article:hover p{
    background-color: #fff;
    color: sandybrown;
}

/* .cont02 */
.cont02 {
    height: 300px;
    background-color: #ccc;
    position: relative;
}
.cont02 div{
    width: 380px;
    background-color: seagreen;
    border-radius: 5px;
    text-align: center;
    padding: 40px;
    color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.cont02 div p i{
    font-size: 40px;
}
.cont02 div p span {
    font-size: 0;
}
.cont02 div dl dt{
    font-size: 25px;
}

/* footer */
footer{
    background-color: #333;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 50px 0;/* 높이값주거나 패딩값으로 박스높이 설정가능 */
}